@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  display: flex; /*가로 정렬*/
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 45px;
  background-color: black;
  color: white;
  z-index: 99;
}

.nav_title {
  font-weight: 500;
  padding: 0 15px;
  font-size: 14px;
}

.main {
  display: flex;
  padding: 120px 100px;
  width: auto;
  height: 200px;
  font-optical-sizing: auto;
  flex-direction: column;
  align-items: center;
}

.main_title {
  position: relative;
  font-weight: 550;
  top: 40px;
  font-size: 45px;
}

@media screen and (max-width: 600px) {
  .main_title {
    font-size: 30px;
  }
}

.main_search {
  width: 400px;
  display: flex;
  padding: 10px 10px;
  margin: 50px;
}

label {
  position: relative;
  left: 10px;
  padding: 13px 13px;
  font-weight: 500;
}

input {
  font-family: 'Noto Sans KR', sans-serif;
  border: 1px solid;
  height: 10px;
  font-size: 14px;
  text-align: left;
  color: black;
  background-color: rgb(255, 255, 255);
  padding: 8px 7px;
}

input:hover,
input:focus {
  background-color: rgb(220, 220, 220);
}

#main_input {
  margin: 10px 10px;
}

#main_button {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 10px 0px;
  background-color: black;
  color: white;
  border: 0.5px solid;
}

#main_button:hover {
  background-color: rgb(91, 91, 91);
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
  margin: 0 100px;
}

.movie_cardBox {
  align-items: center;
  background-color: #000000;
  color: white;
  border-radius: 7px;
  margin: 30px 16px;
  padding: 0px;
  width: 290px;
  height: 740px;
  overflow: hidden;
}

.movie_cardBox:hover {
  transform: scale(1.1); /* 이미지 확대 */
  transition: transform 0.3s; /* 시간 설정 */
}

.movie_card img {
  width: 90%;
  height: auto;
  top: 50%;
  border-radius: 7px;
  margin: 15px;
}

.movie_title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin: 10px 15px;
  font-size: 28px;
  width: 250px;
  word-wrap: break-word;
}

.movie_detail {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin: 10px 15px;
  font-size: 14px;
  width: 250px;
  word-wrap: break-word; /* 글씨 줄바꿈 간격을 조절하려면 width 사용 */
}

.movie_star {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin: 15px 15px;
  font-size: 20px;
  color: yellow;
}
